@import 'colors';
@import 'additional';

.container{
    width: 80%;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 85px;
    padding: 30px 0;
    &__logo{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.1px;
    }
    &__nav__btn{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul{
            display: flex;
            gap: 21px;
            justify-content: center;
            align-items: center;
            li a{
                color: $sec-text-color;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.2px;
            }
        }
        .btn__wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 45px;
            a{
                color: $primaryColor;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 0.2px;
            }
            button{
                @include btn;
                background-color: $primaryColor;
                color: #fff;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    &__text{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
        h5{
            font-size: 16px;
            font-weight: 700;
            color: $primaryColor;
        }
        h1{
            font-size: 58px;
            font-weight: 700;
            color: $textColor;
        }
        h4{
            font-size: 20px;
            font-weight: 400;
            color: $sec-text-color;
        }
        button{
            @include btn;
            background-color: $primaryColor;
            color: #fff;
        }
    }
    &__img{
        flex: 1;
    }
}

.packages{
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    &__left{
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        row-gap: 35px;
        hr{
            width: 94px;
            height: 7px;
            background-color: $dangerColor;
        }
        h2{
            font-weight: 700;
            font-size: 40px;
            color: $textColor;
            letter-spacing: 0.2px;
        }
        p{
            font-size: 14px;
            color: $sec-text-color;
            letter-spacing: 0.2px;
        }
        a{
            display: flex;
            align-items: center;
            gap: 10px;
            span{
                color: $primaryColor;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
    &__right{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            padding: 35px 40px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            row-gap: 20px;
            h5{
                font-weight: 700;
                font-size: 16px;
                letter-spacing: 0.1px;
                color: $textColor;
            }
            hr{
                width: 50px;
                height: 2px;
                border: 1px solid $dangerColor;
            }
            p{
                font-size: 14px;
                color: $sec-text-color;
                letter-spacing: 0.2px;
            }
        }
    }
}