@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 85px;
  padding: 30px 0;
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.header__nav__btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav__btn ul {
  display: flex;
  gap: 21px;
  justify-content: center;
  align-items: center;
}
.header__nav__btn ul li a {
  color: #737373;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.header__nav__btn .btn__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
.header__nav__btn .btn__wrapper a {
  color: #96BB7C;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.header__nav__btn .btn__wrapper button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 15px 25px;
  gap: 15px;
  border: none;
  background-color: #96BB7C;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hero__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
}
.hero__text h5 {
  font-size: 16px;
  font-weight: 700;
  color: #96BB7C;
}
.hero__text h1 {
  font-size: 58px;
  font-weight: 700;
  color: #252B42;
}
.hero__text h4 {
  font-size: 20px;
  font-weight: 400;
  color: #737373;
}
.hero__text button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 15px 25px;
  gap: 15px;
  border: none;
  background-color: #96BB7C;
  color: #fff;
}
.hero__img {
  flex: 1;
}

.packages {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.packages__left {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 35px;
}
.packages__left hr {
  width: 94px;
  height: 7px;
  background-color: #E74040;
}
.packages__left h2 {
  font-weight: 700;
  font-size: 40px;
  color: #252B42;
  letter-spacing: 0.2px;
}
.packages__left p {
  font-size: 14px;
  color: #737373;
  letter-spacing: 0.2px;
}
.packages__left a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.packages__left a span {
  color: #96BB7C;
  font-size: 14px;
  font-weight: 700;
}
.packages__right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.packages__right div {
  padding: 35px 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 20px;
}
.packages__right div h5 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.packages__right div hr {
  width: 50px;
  height: 2px;
  border: 1px solid #E74040;
}
.packages__right div p {
  font-size: 14px;
  color: #737373;
  letter-spacing: 0.2px;
}/*# sourceMappingURL=main.css.map */